<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MYLA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="home-content">
    <ion-img class="logo" [src]="mylaImage" (click)="listen()"></ion-img>
</ion-content>
