.home-content {
    width: 100%;
}
.home-content .logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    background: transparent !important;
}